# OS / IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo
.trae

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.env
.venv/
venv/
env/
.kube/
nginx-es-analyzer/
mysql-cli-sql-analyzer/
kubeconfig
nginx-es-analyzer-design.md
agents/
backend/data/conversation_attachments/*

# Celery
celerybeat-schedule
celerybeat.pid

# Node / Vue / Frontend
node_modules/
dist/
dist-ssr/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
*.log
logs/
backend/data/*.db
backend/data/*.db-shm
backend/data/*.db-wal
backend/metric_data/

# Optional: Claude
.claude/

# othe
todo/
